{% extends 'base/base.html' %}
{% block title %}Bosh sahifa{% endblock %}

{% block content %}
<h2 class="mb-4">Mahsulotlar</h2>

<form method="get" class="mb-4">
    <div class="input-group">
        <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Mahsulot qidirish...">
        <button class="btn btn-outline-secondary" type="submit">Qidirish</button>
    </div>
</form>

<div class="row g-4">
    {% for product in page_obj %}
    <div class="col-md-3">
        <div class="card h-100 shadow-sm">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="height: 200px; object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text text-muted">{{ product.description|truncatewords:15 }}</p>
                <div class="mt-auto">
                    <p class="fw-bold">{{ product.price }} so‘m</p>
                    <a href="{% url 'add_to_cart' product.id %}" class="btn btn-success w-100">Savatchaga qo‘shish</a>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Hech qanday mahsulot topilmadi.</p>
    {% endfor %}
</div>
<div class="d-flex justify-content-end mb-3">
    <a href="{% url 'add_product' %}" class="btn btn-primary">Mahsulot qo‘shish</a>
</div>

{% if page_obj.has_other_pages %}
<nav class="mt-4" aria-label="Sahifalash">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">Oldingi</a>
      </li>
    {% endif %}

    <li class="page-item disabled">
      <span class="page-link">Sahifa {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
    </li>

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}">Keyingi</a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}
